<section class="mt-16">
  <h2>Edit profile data</h2>

  <%= form_for @user, html: { multipart: true }  do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :bio %>
      <%= f.text_area :bio, class: "form-control" %>
    </div>
    
    <div class="field">
      <%= f.label :birth_date %>
      <%= f.date_field :birth_date, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "button" %>
    </div>
  <% end %>
</section>
