<section class="mt-16 min-h-screen">
  <div class="p-4 flex space-x-4 items-center">
    <div class="h-12 w-12 sm:h-16 sm:w-16 lg:h-20 lg:w-20  bg-gray-100 rounded-full"></div>

    <div class="">
      <p class="font-medium md:text-2xl">Welcome, <%= @user.first_name || @user.email %></p>
      <p class="text-sm md:text-base text-gray-200 mt-1 mb-3">You are logged in!</p>

      <%= link_to "Edit", edit_user_path(current_user), class: "button" %>
    </div>
  </div>

  <div class="mt-16 md:flex space-y-8 md:space-x-8 md:space-y-0">
    <aside class="lg:w-96">
      <%= link_to "Notes", boards_path, class: "text-xl md:text-2xl font-medium block" %>
      <%= link_to "People", '#', class: "text-xl md:text-2xl font-medium block" %>
      <%= link_to "Encounter", '#', class: "text-xl md:text-2xl font-medium block" %>
      <%= link_to "Programs", '#', class: "text-xl md:text-2xl font-medium block" %>
      <%= link_to "News", '#', class: "text-xl md:text-2xl font-medium block" %>
    </aside>

    <div class="grid lg:grid-cols-2 gap-4 lg:gap-6">
      <%= render @user.notes %>
    </div>
  </div>
</section>
