<!DOCTYPE html>
<html>
  <head>
    <title>GoAhead</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="icon" type="image/png" sizes="48x48" href="/favicon.png">
  </head>

  <body>
    <%= render partial: 'shared/header' %>

    <main class="bg-black text-white">
      <p class="text-green-400"><%= notice %></p>
      <p class="text-red-400"><%= alert %></p> 

      <%= yield %>
    </main>
  </body>
</html>
